body {
  background-color: #2F4454;
}
html, body, h1, h2, h3, h4, h5, h6  {
  font-family: "Verdana", cursive, sans-serif; color:#000;
}
h1 {
  margin-left: 20px;
  text-align: center;
} 


div.box {
	background-color: #fff; margin:30px; padding-top:20px; padding-bottom:20px;padding-right: 20px; padding-left: 20px;
	border-color:slategrey; border-style:solid; border-color: #4d5459;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
}

div.boxtwo {
	background-color: #FFF; margin:30px; padding-top:20px; padding-bottom:20px;padding-right: 20px; padding-left: 20px;
	border-color:slategrey; border-style:solid; border-color: #4d5459;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
}

div.text {
	margin:20px; 
}

div.texttwo {
	margin:20px; 
	color: black;
}


div.img {
	margin-right: 5px;
	margin-top:0px;
	float:right;
	padding:10px;
}

div.imgtwo {
	margin-left: 10px;
	float:left;
	padding:10px;
	padding-bottom:25px;
	padding-right:20px;
}

div.imgthree {
	margin-right: 5px;
	margin-top:-40px;
	float:right;
	padding:10px;
}

div.imgfour {
	margin-right: 5px;
	text-align: center;
	align-self: center;
	margin-top:0px;
	padding:10px;
}


a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}